<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Crime Map</title>
		<link type="text/css" rel="stylesheet"
			href="{{url_for('static', filename='css/style.css')}}" />
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script>
		var map;
		var marker;

		function initialize() {
			let originLat = -16.603177;
			let originLgn = -49.266924;

			var mapOptions = {
				center: new google.maps.LatLng(originLat, originLgn),
				zoom: 15
			};
			map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			google.maps.event.addListener(map, 'click', function(event) {
				placeMarker(event.latLng);
			});
			placeCrimes({{crimes | safe}});
		}

		function placeCrimes(crimes) {
			for (var i = 0; i < crimes.length; i++) {
				crime = new google.maps.Marker({
					position: new google.maps.LatLng(crimes[i].latitude, crimes[i].longitude),
					map: map,
					title: crimes[i].date + '\n' + crimes[i].category + '\n'
						+ crimes[i].description
				});
			}
		}

		function placeMarker(location) {
			if (marker) {
				marker.setPosition(location);
			} else {
				marker = new google.maps.Marker({
					position: location,
					map: map
				});
			}
			document.getElementById('latitude').value = location.lat();
			document.getElementById('longitude').value = location.lng();
		}
		</script>
	</head>
	<body onload="initialize()">
		<h1>CrimeMap</h1>
		<p>A map of recent criminal activity in this area.</p>
		<div id="map-canvas">
		</div>

		<div id="newcrimeform">
			<h2>Submit new crime</h2>
			{% if error_message %}
				<div id="error">
					<p>{{error_message}}</p>
				</div>
			{% endif %}
			<form method="POST" action="/submitcrime">
				<label for="category">Category</label>
				<select name="category" id="category">
					{% for category in categories %}
						<option value="{{category}}">{{category}}</option>
					{% endfor %}
				</select>
				<label for="date">Date</label>
				<input type="date" name="date" id="date">
				<label for="latitude">Latitude</label>
				<input type="text" name="latitude" id="latitude" readonly>
				<label for="longitude">Longitude</label>
				<input type="text" name="longitude" id="longitude" readonly>
				<label for="description">Description</label>
				<textarea name="description" id="description"
					placeholder="A brief but detailed description of the crime."></textarea>
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
